{% extends 'base.html.twig' %}

{% block content %}


    {# suggestions #}
    <div class="panel container-suggestions fixed">
        <p><a href="#">@Suggestion1</a></p><br>
        <p><a href="#">@Suggestion2</a></p><br>
        <p><a href="#">@Suggestion3</a></p><br>
        <p><a href="#">@Suggestion4</a></p><br>
        <p><a href="#">@Suggestion5</a></p><br>
        <p><a href="#">@Suggestion6</a></p><br>
        <p><a href="#">@Suggestion7</a></p><br>
        <p><a href="#">@Suggestion8</a></p><br>
    </div>

    {# liste kebabs OU login #}

    {% if user.email != false %}
        {# liste kebabs #}

        <div class="container container-listkebabs">

            {# gestion de succes #}
            {% if success != false %}
                <div class="alert alert-success" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    {{ success }}
                </div>
            {% endif %}

            {% if kebabslist|length > 0 %}
                {% for publi in kebabslist %}
                    <div class="panel panel-primary container-kebab">
                        <div class="panel-heading"><h1 class="panel-title"><strong>{{ publi[0].Name }}</strong> <element class="pull-right">@{{ publi[0].username }}</element></h1></div>

                        {# img #}
                        <div class="panel-body">
                            <img class="img-responsive" src="/Kebagram/public/assets/img/kebabs/{{ publi[0].Link }}"><br>
                        </div>

                        <ul class="list-group">

                            {# desc #}
                            <li class="list-group-item">
                                <p>{{ publi[0].Desc }}</p>
                            </li>

                            {# tags #}
                            <li class="list-group-item">
                                <p class="textgrise">
                                    {% for tag in publi[1] %}
                                        #{{ tag.tag }}
                                    {% endfor %}
                                </p>
                            </li>

                            {# comments #}
                            <li class="list-group-item">
                                Commentaires
                            </li>
                        </ul>
                    </div>
                {% endfor %}
            {% else %}
                <h4 class="text-center">No kebab to display.</h4>
            {% endif %}
        </div>


    {% else %}
        {# login #}
        <div class="container container-listkebabs text-center">
            {# gestion d'erreurs #}
            {% if error != false %}
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    {{ error }}
                </div>
            {% endif %}
            {% if success != false %}
                <div class="alert alert-success" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    {{ success }}
                </div>
            {% endif %}


            {# formulaire #}
            <form action="login" method="post">
                <div class="form-group">
                    <label for="usernameLogin">Email address</label>
                    <input class="form-control" id="usernameLogin" name="username" type="email" autocomplete="off" placeholder="Email address" autofocus required/>
                </div>

                <div class="form-group">
                    <label for="passwordLogin">Password</label>
                    <input class="form-control" id="passwordLogin" name="password" type="password" autocomplete="off" placeholder="Password" required/>
                </div>

                <button class="btn btn-default" type="submit">Log In</button><br>
                <a href="signup">Don't you have an accout ? Sign up</a>
            </form>
        </div>
    {% endif %}

    {# boutons ecran pc #}
    <div class="container container-boutons pull-right">
        {% if user.email != false %}
            <a href="addpic"><button class="btn-lg btn-success fixed">+ Add a picture</button></a>
        {% else %}
            <a href="signup"><button class="btn-lg btn-success fixed">Sign up</button></a>
        {% endif %}
    </div>
    {# boutons media #}
    <div class="container container-boutons-media pull-right">
        {% if user.email != false %}
            <a href="addpic"><button class="btn-lg btn-success fixed-media">+ Picture</button></a>
        {% else %}
            <a href="signup"><button class="btn-lg btn-success fixed-media">Sign up</button></a>
        {% endif %}
    </div>

{% endblock %}