{% extends 'base.html.twig' %}

{% block homeactive %}{% endblock %}
{% block profileactive %}class="active"{% endblock %}

        {% block content %}

            {# if user is logged #}
            {% if user %}
                <div class="panel panel-warning panel-profile">
                    <div class="panel-heading"><h1 class="panel-title">Your Personal Informations</h1></div>
                    <div class="panel-body">

                        {# errors and success #}
                        {% if error != false %}
                            <div class="alert alert-danger" role="alert">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                <span class="sr-only">Error:</span>
                                {{ error }}
                            </div>
                        {% endif %}
                        {% if success != false %}
                            <div class="alert alert-success" role="alert">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                <span class="sr-only">Error:</span>
                                {{ success }}
                            </div>
                        {% endif %}

                        <h2 class="text-center">{{ user.username }}</h2>

                        {# image #}
                        {% if user.profilePic == false %}
                            <img class="img-responsive img-circle center-block" src="/Kebagram/public/assets/default.jpg" alt="Image profile">
                        {% else %}
                            <img class="img-responsive img-circle center-block" src="/Kebagram/public/assets/img/avatars/{{ user.profilePic }}" alt="Image profile">
                        {% endif %}

                        <form class="text-center" action="modifyPicture" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="pictureProfile" >Modify your profile picture (Max size : 1500*1500px)</label>
                                <input class="form-control" id="pictureProfile" name="pictureProfile" type="file" required/>
                            </div>

                            <button class="btn btn-warning" type="submit">Upload</button>
                        </form>

                        <br>
                    </div>

                    <ul class="list-group">

                        {# modify profile #}
                        <li class="list-group-item text-center">
                            {# infos #}
                            <form action="modify" method="post">

                                <div class="form-group">
                                    <label for="emailProfile">Email address</label>
                                    <input class="form-control" id="emailProfile" name="emailProfile" type="email" autocomplete="off" value="{{ user.email }}" autofocus required/>
                                </div>

                                <div class="form-group">
                                    <label for="firstnameProfile">First Name</label>
                                    <input class="form-control" id="firstnameProfile" name="firstnameProfile" type="text" autocomplete="off" value="{{ user.first_name }}" required/>
                                </div>

                                <div class="form-group">
                                    <label for="nameProfile">Last Name</label>
                                    <input class="form-control" id="nameProfile" name="nameProfile" type="text" autocomplete="off" value="{{ user.last_name }}" required/>
                                </div>

                                <button class="btn btn-warning" type="submit">Modify</button>

                            </form>

                            <br>
                        </li>

                        {# modify password #}
                        <li class="list-group-item text-center">
                            <br>
                            {# mdp #}
                            <form action="modifyPassword" method="post">

                                <div class="form-group">
                                    <label for="actualPassword">Actual Password</label>
                                    <input class="form-control" id="actualPassword" name="actualPassword" type="password" autocomplete="off" placeholder="Actual password" required/>
                                </div>

                                <div class="form-group">
                                    <label for="newPassword">New Password</label>
                                    <input class="form-control" id="newPassword" name="newPassword" type="password" autocomplete="off" placeholder="New password" required/>
                                </div>

                                <div class="form-group">
                                    <label for="newPasswordConf">Confirmation</label>
                                    <input class="form-control" id="newPasswordConf" name="newPasswordConf" type="password" autocomplete="off" placeholder="New password confirmation" required/>
                                </div>

                                <button class="btn btn-warning" type="submit">Modify password</button>

                            </form>
                        </li>

                    </ul>

                </div>

            {% else %}
                {# user not logged #}
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    You must be logged to perform this action.
                </div>
            {% endif %}


        {% endblock %}