{% extends 'base.html.twig' %}

{% block homeactive %}{% endblock %}

{% block content %}

    <div class="container container-research">

        <div class="panel panel-primary panel-researchusers pull-left">

            <div class="panel-heading"><h1 class="panel-title">Users</h1></div>

            <ul class="list-group">

                {# if no users #}
                {% if users|length == 0 %}
                    <li class="list-group-item">
                        <p>No users to display.</p>
                    </li>
                {% else %}

                    {% for u in users %}
                        <li class="list-group-item">
                            <p>@{{ u.username }}</p>
                        </li>
                    {% endfor %}

                {% endif %}

            </ul>

        </div>

        <div class="panel panel-researchtags pull-right">

            <ul class="list-group">

                {# if no kebabs #}
                {% if kebabs|length == 0 %}
                    <li class="list-group-item">
                        <p>No kebabs to display.</p>
                    </li>
                {% else %}

                    {% for k in kebabs %}
                        <div class="panel panel-primary container-kebab">
                            <div class="panel-heading"><h1 class="panel-title"><strong>{{ k[0].Name }}</strong> <element class="pull-right">@{{ k[0].username }}</element></h1></div>

                            {# img #}
                            <div class="panel-body">
                                <img class="img-responsive" src="/Kebagram/public/assets/img/kebabs/{{ k[0].Link }}"><br>
                            </div>

                            <ul class="list-group">

                                {# desc #}
                                <li class="list-group-item">
                                    <p>{{ k[0].Desc }}</p>
                                </li>

                                {# tags #}
                                <li class="list-group-item">
                                    <p class="textgrise">
                                        {% for tag in k[1] %}
                                            #{{ tag.tag }}
                                        {% endfor %}
                                    </p>
                                </li>

                                {# comments #}
                                <li class="list-group-item">
                                    Commentaires
                                </li>
                            </ul>
                        </div>

                        <!--<li class="list-group-item">
                            <img class="img-responsive" src="/Kebagram/public/assets/img/kebabs/{{ k.Link }}">
                            
                        </li>-->
                    {% endfor %}

                {% endif %}

            </ul>

        </div>
    </div>


{% endblock %}
